{% extends "base.html" %}
{% block title %}save new password{% endblock %}
{% block new_active %}class="active-link"{% endblock %}
{% block extra_head %}
            <link href="{{ url_for('static', filename='assets/css/mdb.min.css') }}" rel="stylesheet"/>
 {% endblock %}
{% block content %}
<form method="POST" action="/password/new">
    <fieldset class="form-group">
    <label for="website_select">websites</label>
    <select class="form-control" id="website_select">
      <option value="">---Please Select ---</option>
      {% for site in sites %}
        <option value="{{ site.site_login_url }}">{{ site.site_name }}</option>
      {% endfor %}
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="website_name">website name</label>
    <input type="text" class="form-control" name="websiteName" id="website_name" placeholder="website name">
  </fieldset>
  <fieldset class="form-group">
    <label for="login_url">login url</label>
    <input type="text" class="form-control" name="websiteLoginUrl" id="login_url" placeholder="login url">
  </fieldset>
  <fieldset class="form-group">
    <label for="login_name">login name</label>
    <input type="text" class="form-control" name="userName" id="login_name" placeholder="login username">
  </fieldset>

   <fieldset class="form-group">
    <label for="login_password">login password</label>
    <input type="password" class="form-control" name="password" id="login_password" placeholder="login password">
  </fieldset>


  <fieldset class="form-group">
    <label for="security_level">secret level</label>
    <select class="form-control" id="security_level" name="securityLevel">
      <option value="top_secret">Top secret</option>
      <option value="secret">secret</option>
    </select>
  </fieldset>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block extra_footer %}
  <script>
   $('#website_select').on('change',function(){
      loginUrl = this.value
      if(loginUrl != '') {
         siteName = $("#website_select option[value='"+loginUrl+"']").text()
         $('#website_name').val(siteName).prop('readonly', true)
         $('#login_url').val(loginUrl).prop('readonly', true)
      }
      else {
          $('#website_name').val('').prop('readonly', false)
           $('#login_url').val('').prop('readonly', false)
      }
   })
  </script>

 {% endblock %}



